body {
    font-family: Arial;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }

.data1 {
    border: 1px solid;
    border-radius: 50px;
    z-index: 1;
    background-color: #fff;
}
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 5%;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .prev1{
    padding: 15px;
    cursor: pointer;
    color: white;
    /* display: flex; */
    /* display: contents; */
    /* margin-bottom: 29px; */
    position: absolute;
    /* top: 40%; */
    width: auto;
    margin-top: -60px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;  
  }

  .next1{
    padding: 15px;
    cursor: pointer;
    color: white;
    /* display: flex; */
    /* display: contents; */
    /* margin-bottom: 29px; */
    position: absolute;
    /* top: 40%; */
    width: auto;
    margin-top: -60px;
    margin-left: 90%;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none; 

  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }


  .mission{
    border: 1px solid;
    border-left: 0;
    border-right: 0;
  }

  .data{
    margin-top: 0;
    
    border: 1px solid;
    border-radius: 50px;
    z-index: 1;
    background-color: #fff;
   
}

.heart,
.add{
    border: 1px solid;
    border-radius: 50px;
    background: white;

}
.reating{
    border: 1px solid;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;

}

.star{
    margin-top: -17px;
    background-color: #fff;
}

.apply-btn{
    width: 50%;
    border-color: #ff9800;
    color: orange;
    border-radius: 50px;
}

.apply-btn:hover{
    color: #fff;
    background-color: #ff9800;
}

p{
    font-size: 14px;
}
.circle{
    border-radius: 50%;
    
    width: 60px;
    height: 60px;
}

a{
    width: max-content;
    height: max-content;
}

.volunteer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


body {
    font-family: Arial;
    margin: 0;
}

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 5%;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

.prev1 {
    padding: 15px;
    cursor: pointer;
    color: white;
    /* display: flex; */
    /* display: contents; */
    /* margin-bottom: 29px; */
    position: absolute;
    /* top: 40%; */
    width: auto;
    margin-top: -60px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next1 {
    padding: 15px;
    cursor: pointer;
    color: white;
    /* display: flex; */
    /* display: contents; */
    /* margin-bottom: 29px; */
    position: absolute;
    /* top: 40%; */
    width: auto;
    margin-top: -60px;
    margin-left: 90%;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

    .active,
    .demo:hover {
        opacity: 1;
    }


.mission {
    border: 1px solid;
    border-left: 0;
    border-right: 0;
}

.data {

    border: 1px solid;
    border-radius: 50px;
    z-index: 1;
    background-color: #fff;
}

.heart,
.add {
    border: 1px solid;
    border-radius: 50px;
    background: white;
}

    .add,
    .heart:hover {
        background-color: #ff9800;
    }

.reating {
    border: 1px solid;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.star {
    margin-top: -17px;
    background-color: #fff;
}

.apply-btn {
    width: 25%;
    border-color: #ff9800;
    color: orange;
    border-radius: 50px;
}

    .apply-btn:hover {
        color: #fff;
        background-color: #ff9800;
    }

p {
    font-size: 14px;
}

.circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

a {
    width: max-content;
    height: max-content;
}

.volunteer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


