@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/site.css" />
<div class="container d-flex sortmissions">
    <h2>Exploar 72 missions</h2>
    <div class="mb-3 mt-3 filter-grid-list">
        <button type="button" class="btn btn-default dropdown-toggle filter" data-toggle="dropdown">
            <span id="search_concept">Filter by</span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#contains">Contains</a></li>
            <li><a href="#its_equal">It's equal</a></li>
            <li><a href="#greather_than">Greather than ></a></li>
            <li><a href="#less_than">Less than </a></li>
            <li class="divider"></li>
            <li><a href="#all">Anything</a></li>
        </ul>

        <button class="btn  btn-grid grid"><img src="~/images/grid.png" alt=""></button>
        <button class="btn  btn-list list"><img src="~/images/list.png" alt=""></button>
    </div>

</div>

<div class="container grid-container">
    <div class="row">
        <div class="col-lg-4 col-md-6 mt-4 d-flex justify-content-center">
            <div class="card">
                <div class="parent storycard_container">
                    <div class="position-relative">

                        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-3.png" alt="" class="w-100"/>
                        <a href="#" class="pin"><img src="~/images/pin.png" alt="">Bharat</a>
                        <div style="position: absolute; display: flex; margin-top: -30%; flex-direction: column; bottom: 15px; right: 10px;">

                            <a class="like my-2" href="#"><img src="~/images/heart.png" alt=""></i></a>
                            <a class="add" href="#"><img src="~/images/add1.png" alt=""></a>
                        </div>
                        <div class="position-absolute title">
                            <h6 class="sub-title m-0">Enviroment</h6>
                        </div>
                    </div>


                </div>
                <div class="card-body">
                    <h5 class="card-title">ABC DEFG HIGKLM</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                    <div class="row d-flex align-items-center">
                        <div class="col">Tree Canada</div>
                        <div class="col d-flex justify-content-end">
                            <img src="~/images/selected-star.png" class="imgstar" />
                            <img src="~/images/selected-star.png" class="imgstar" />
                            <img src="~/images/selected-star.png" class="imgstar" />
                            <img src="~/images/star-empty.png" class="imgstar" />
                            <img src="~/images/star-empty.png" class="imgstar" />
                        </div>
                    </div>

                    <div class="border-top border-bottom position-relative mt-4">
                        <div class="d-flex justify-content-center" style="margin-top: -3%;">
                            <p class="position-relative bg-white" style="border: 2px solid; border-radius: 50px; ">From 10/01/2019 until 25/02/2019</p>

                        </div>
                        <div class="row mx-0">
                            <div class="col-lg-6">
                                <div class="d-flex-column align-items-center">
                                    <img src="~/images/Seats-left.png" >
                                    <div class="col-8">
                                        <span class="fs-6">10</span><br />
                                        <span class="text-sm-start">Seats left</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex-column align-items-center">
                                    <img src="~/images/deadline.png" >
                                    <div class="col-8">
                                        <span class="fs-6">09/01/2019</span><br />
                                        <span>Deadline</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <a href="#" class="btn apply-btn" style="border: 2px solid; border-radius: 50px;">Apply &nbsp; &nbsp;<img src="./images/right-arrow.png" alt=""></a>
                    </div>


                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 d-flex justify-content-center">
            <div class="card">
                <div class="parent storycard_container">
                    <div class="position-relative">

                        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-3.png" alt="" />
                        <a href="#" class="pin"><img src="~/images/pin.png" alt="">Bharat</a>
                        <div style="position: absolute; display: flex; margin-top: -30%; flex-direction: column; bottom: 15px; right: 10px;">

                            <a class="like my-2" href="#"><img src="~/images/heart.png" alt=""></i></a>
                            <a class="add" href="#"><img src="~/images/add1.png" alt=""></a>
                        </div>
                        <div class="position-absolute title">
                            <h6 class="sub-title m-0">Enviroment</h6>
                        </div>
                    </div>


                </div>
                <div class="card-body">
                    <h5 class="card-title">ABC DEFG HIGKLM</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                    <div class="row d-flex align-items-center">
                        <div class="col">Tree Canada</div>
                        <div class="col d-flex justify-content-end">
                            <img src="~/images/selected-star.png" class="imgstar" />
                            <img src="~/images/selected-star.png" class="imgstar" />
                            <img src="~/images/selected-star.png" class="imgstar" />
                            <img src="~/images/star-empty.png" class="imgstar" />
                            <img src="~/images/star-empty.png" class="imgstar" />
                        </div>
                    </div>

                    <div class="border-top border-bottom position-relative mt-4">
                        <div class="d-flex justify-content-center" style="margin-top: -3%;">
                            <p class="position-relative bg-white" style="border: 2px solid; border-radius: 50px; ">From 10/01/2019 until 25/02/2019</p>

                        </div>
                        <div class="row mx-0">
                            <div class="col-lg-6">
                                <div class="row d-flex-column align-items-center">
                                    <img src="~/images/Seats-left.png" class="col-4 imgfooter">
                                    <div class="col-8">
                                        <span class="fs-6">10</span><br />
                                        <span class="text-sm-start">Seats left</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row d-flex-column align-items-center">
                                    <img src="~/images/deadline.png" class="col-4 imgfooter">
                                    <div class="col-8">
                                        <span class="fs-6">09/01/2019</span><br />
                                        <span>Deadline</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <a href="#" class="btn apply-btn" style="border: 2px solid; border-radius: 50px;">Apply &nbsp; &nbsp;<img src="./images/right-arrow.png" alt=""></a>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div>
                    <img class="card-img-top" src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-2.png" alt="Card image cap">
                    <a class="card-action" href="#"><img src="~/images/heart.png" alt=""></a>
                    <a class="card-action1"><img src="~/images/add1.png" alt=""></a>
                    <div class="title">
                        <h6 class="sub-title">Enviroment</h6>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">ABC DEFG HIGKLM</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="card-start">
                        <h6>Three Canada</h6>
                        <div class="start">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/star-empty.png" alt="">
                            <img src="~/images/star-empty.png" alt="">
                        </div>
                    </div>

                    <div class="mission-ditel mt-4 position-relative py-4">

                        <div class="mission-data position-absolute">
                            <p class="data">&nbsp; From 10/01/2019 Until 25/02/2019 &nbsp;</p>
                        </div>
                        <div class="main d-flex justify-content-around bg-white">
                            <div class="seats">
                                <img src="~/images/Seats-left.png" alt="">10 <br> <p> Seats Left </p>
                            </div>
                            <div class="seats">
                                <img src="~/images/deadline.png" alt="">09/01/2019 <br> <p>  Deadline </p>
                            </div>
                            <div class="seats">
                                <img src="~/images/gift.png" alt="">
                                <img src="~/images/right.png" alt="">
                                <img src="~/images/info.png" alt=""> <br> <p>Matching Gift</p>

                            </div>
                        </div>

                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <a href="#" class="btn apply-btn">Apply &nbsp; &nbsp;<img src="./images/right-arrow.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="~/JS/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
