
@{
    ViewData["Title"] = "Storys";
}

<link rel="stylesheet" href="~/CSS/bootstrap.min.css">
<link rel="stylesheet" href="~/CSS/Stories.css">

<div class="story_container">
    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="imgstory" />
    <p class="textstory">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    <div><button type="button" class="btnstory">Share Your Story<img src="~/images/right-arrow2.png" class="ms-3" /></button></div>
</div>

<div class="container-fluid px-5 py-2">
    <div class="row d-flex justify-content-around">
        <div class="col-lg-4 col-md-6 mt-4 d-flex justify-content-center">
            <div class="card card_hover">
                <div class="parent storycard_container">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-3.png" alt="" class="imgcardstory" />
                    <button type="button" class="btncardstory">View Details<img src="./images/right-arrow2.png" class="ms-3" /></button>
                    <div class="storyimg_text">
                        Customer Experience
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">10 User and Customer Engagement Strategies for 2019</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>

                    <div class="d-flex align-items-center" style="width: fit-content;">
                        <img src="~/images/volunteer1.png" class="storycardimg w-25 h-" />
                        <p class="mx-4"> Andrew Johnson </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 d-flex justify-content-center">
            <div class="card card_hover">
                <div class="parent storycard_container">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-3.png" alt="" class="imgcardstory" />
                    <button type="button" class="btncardstory">View Details<img src="~/images/right-arrow2.png" class="ms-3" /></button>
                    <div class="storyimg_text">
                        Customer Experience
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">10 User and Customer Engagement Strategies for 2019</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>

                    <div class="d-flex align-items-center" style="width: fit-content;">
                        <img src="~/images/volunteer1.png" class="storycardimg w-25 h-" />
                        <p class="mx-4"> Andrew Johnson </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 d-flex justify-content-center">
            <div class="card card_hover">
                <div class="parent storycard_container">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-3.png" alt="" class="imgcardstory" />
                    <button type="button" class="btncardstory">View Details<img src="~/images/right-arrow2.png" class="ms-3" /></button>
                    <div class="storyimg_text">
                        Customer Experience
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">10 User and Customer Engagement Strategies for 2019</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>

                    <div class="d-flex align-items-center" style="width: fit-content;">
                        <img src="~/images/volunteer1.png" class="storycardimg w-25 h-" />
                        <p class="mx-4"> Andrew Johnson </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 d-flex justify-content-center">
            <div class="card card_hover">
                <div class="parent storycard_container">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-3.png" alt="" class="imgcardstory" />
                    <button type="button" class="btncardstory">View Details<img src="~/images/right-arrow2.png" class="ms-3" /></button>
                    <div class="storyimg_text">
                        Customer Experience
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">10 User and Customer Engagement Strategies for 2019</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>

                    <div class="d-flex align-items-center" style="width: fit-content;">
                        <img src="~/images/volunteer1.png" class="storycardimg w-25 h-" />
                        <p class="mx-4"> Andrew Johnson </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 d-flex justify-content-center">
            <div class="card card_hover">
                <div class="parent storycard_container">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-3.png" alt="" class="imgcardstory" />
                    <button type="button" class="btncardstory">View Details<img src="~/images/right-arrow2.png" class="ms-3" /></button>
                    <div class="storyimg_text">
                        Customer Experience
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">10 User and Customer Engagement Strategies for 2019</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>

                    <div class="d-flex align-items-center" style="width: fit-content;">
                        <img src="~/images/volunteer1.png" class="storycardimg w-25 h-" />
                        <p class="mx-4"> Andrew Johnson </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 d-flex justify-content-center">
            <div class="card card_hover">
                <div class="parent storycard_container">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-3.png" alt="" class="imgcardstory" />
                    <button type="button" class="btncardstory">View Details<img src="~/images/right-arrow2.png" class="ms-3" /></button>
                    <div class="storyimg_text">
                        Customer Experience
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">10 User and Customer Engagement Strategies for 2019</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>

                    <div class="d-flex align-items-center" style="width: fit-content;">
                        <img src="~/images/volunteer1.png" class="storycardimg w-25 h-" />
                        <p class="mx-4"> Andrew Johnson </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

